html, body {
  font-family: "Comic Sans MS";
  text-align: center;
  padding: 10px;
}

.border {
  border: solid 3px;
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 20px;
  font-family: Arial,Sans-Serif;
}

.button:hover {
  background-color: #018554;
}
