body, pre {
  font-family: "Comic Sans MS";
  text-align: center;
  padding: 25px;
}

a:link, a:visited {
  color: #0000ee;
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  line-height: 1.5;
  font-size: 16px;
}

.border {
  border: solid 3px;
  padding: 10px;
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
